/.calva/
/.clj-kondo/
/.cpcache/
/.idea/
/.lsp/
/.clojure-mcp
/.cache/
.env
._*
/docs/**/*.html
/.nrepl-port
opencode.json
*.db*
/target
/build/
/test/reports/
/node_modules
/resources/public/docs
test-output*.txt
/logs/