{
 :active
 {
  :boundary/settings
  {:name              "boundary-dev"
   :version           "0.1.0"
   :date-format       "yyyy-MM-dd"
   :date-time-format  "yyyy-MM-dd HH:mm:ss"
   :currency/iso-code "EUR"}}

 :boundary/sqlite
 {:db "dev-database.db"}

 :inactive
 {
  :boundary/postgresql
  {:host          #env "POSTGRES_HOST"
   :port          #env "POSTGRES_PORT"
   :dbname        #env "POSTGRES_DB"
   :user          #env "POSTGRES_USER"
   :password      #env "POSTGRES_PASSWORD"
   :auto-commit   true
   :max-pool-size 15}
  :boundary/logging {:level     :info
                     :console   true
                     :appenders [{:appender       :rolling-file
                                  :file           "logs/web-service.log"
                                  :rolling-policy {:type        :time-based
                                                   :max-history 30
                                                   :max-size    5000000 ; bytes
                                                   :pattern     ".%d{yyyy-MM-dd}.%i.gz"}}]}}}
