services:
  db:
    image: postgres:15
    container_name: my-app-db
    environment:
      POSTGRES_DB: ixfn_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    image: my-app-dev
    depends_on:
      - db
    environment:
      - DB_HOST=${POSTGRES_HOST}
      - DB_PORT=${POSTGRES_PORT}
      - DB_NAME=${POSTGRES_DB}
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./resources/conf/dev:/elara/resources/conf/dev:ro
    ports:
      - "3000:3000"

volumes:
  pgdata: