{:meta
 {:case-name nil,
  :schema-version "1.0",
  :seed 49,
  :test-name complete-valid-user,
  :test-ns user},
 :result
 {:data
  {:email "test@example.com",
   :name "Test User",
   :role :user,
   :tenant-id #uuid "00000000-0000-0000-0000-000000000001"},
  :valid? true}}
