{:meta
 {:case-name nil,
  :schema-version "1.0",
  :seed 44,
  :test-name email-validation-missing,
  :test-ns user},
 :result
 {:errors
  {:errors
   "({:path [:email], :in [:email], :schema [:map {:title \"Create User Request\"} [:email [:re #:error{:message \"Invalid email format\"} #\"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9]+([.-][a-zA-Z0-9]+)*\\.[a-zA-Z]{2,}$\"]] [:name [:string {:min 1, :max 255}]] [:role [:enum :admin :user :viewer]] [:active {:optional true} :boolean] [:tenant-id :uuid] [:send-welcome {:optional true} :boolean]], :value nil, :type :malli.core/missing-key})",
   :schema "malli.core$_map_schema$reify$reify__9248",
   :value
   {:name "Test User",
    :role :user,
    :tenant-id #uuid "00000000-0000-0000-0000-000000000001"}},
  :valid? false}}
