{:meta
 {:case-name nil,
  :schema-version "1.0",
  :seed 45,
  :test-name name-validation-too-short,
  :test-ns user},
 :result
 {:errors
  {:errors
   "({:path [:name], :in [:name], :schema [:string {:min 1, :max 255}], :value \"\"})",
   :schema "malli.core$_map_schema$reify$",
   :value
   {:email "test@example.com",
    :name "",
    :role :user,
    :tenant-id #uuid "00000000-0000-0000-0000-000000000001"}},
  :valid? false}}
