{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        boundary/platform {:local/root "../platform"}
        boundary/core {:local/root "../core"}
        boundary/ui-style {:local/root "../ui-style"}
        boundary/scaffolder {:local/root "../scaffolder"}
        boundary/jobs {:local/root "../jobs"}
        boundary/user {:local/root "../user"}
        hiccup/hiccup {:mvn/version "2.0.0"}
        ring/ring-jetty-adapter {:mvn/version "1.15.4"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      org.clj-commons/clj-http-lite {:mvn/version "1.0.13"}}
         :main-opts ["-m" "kaocha.runner"]}}}
