{:paths ["src" "resources"]
 
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        boundary/platform {:local/root "../platform"}
        boundary/core {:local/root "../core"}
        
        cheshire/cheshire {:mvn/version "5.13.0"}}
 
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      com.h2database/h2 {:mvn/version "2.4.240"}}
         :main-opts ["-m" "kaocha.runner"]}
  
  :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2025.10.23"}}
              :main-opts ["-m" "clj-kondo.main"]}
  
  :build {:replace-deps {io.github.clojure/tools.build {:git/tag "v0.10.11" :git/sha "c6c670a4"}
                        slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}}}
